<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragments/layout}">
<head>
  <title>Detail | Categorie</title>
</head>

<body>

    <section class="content container-fluid" data-layout-fragment="content">
    
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Details de la catégorie</h3>
        </div>
        <div class="box-body">
          <table class="table table-striped">
             <tbody>
                <tr>
                  <th>Name</th>
                  <td th:text="${categorie.name}">name</td>
                </tr>
                <tr>
                  <th>Label</th>
                  <td th:text="${categorie.label}">name</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td th:text="${categorie.description}">name</td>
                </tr>
             </tbody>
          </table>
        </div>
      </div>

    </section>

</body>
</html>