<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{fragments/layout}">
<head>
  <title>Add | Update</title>
</head>

<body>

    <section class="content container-fluid" data-layout-fragment="content">

   		<div class="box">
		  <div class="box-header with-border">
		    <h3 class="box-title">Entrepôt</h3>
		  </div>
		  <!-- /.box-header -->
		  <form class="form-horizontal" th:object="${entrepot}" th:action="${'/entrepots/'+option}" method="post">
		  		<div class="box-body">
				
		            <input type="hidden" th:field="*{identrepot}"/>
		            
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Name</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{name}" th:required="required"/>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Ville</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{ville}" th:required="required"/>
		                </div>
		            </div>
		            
		  		</div>
	  			<!-- /.box-body -->
	  			<div class="box-footer">
           	    	<button type="submit" class="btn btn-success pull-right">Sauvegarder</button>
	            </div>
		  </form>
		</div>

    </section>

</body>
</html>