<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  data-layout-decorate="~{fragments/layout}">
<head>
  <title>Index | Produit</title>
  <link rel="stylesheet" href="/webjars/datatables.net-bs/2.1.1/css/dataTables.bootstrap.min.css">
</head>

<body>

    <section class="content container-fluid" data-layout-fragment="content">

		
		
		<div class="box">
		  <div class="box-header with-border">
		    <h3 class="box-title">Liste des produits</h3>
		    <div class="box-tools">
                <a href="/produits/add"><button class="btn btn-success" style="padding: 4px 12px;">Add <i class="fa fa-plus"></i></button></a>
            </div>
		  </div>
		  <!-- /.box-header -->
		  <div th:if="${not #lists.isEmpty(produits)}" class="box-body">
		    <table id="produits-table" class="table table-bordered table-striped">
		      <thead>
			      <tr>
			        <th>Name</th>
			        <th>Label</th>
			        <th>Catégorie</th>
			        <th>Description</th>
			        <th>Actions</th>
			      </tr>
		      </thead>
		      <tbody>
			      <tr th:each="produit : ${produits}">
			          <td th:text="${produit.name}">Name</td>
			          <td th:text="${produit.label}">Label</td>
			          <td th:text="${produit.categorie.label}">Catégorie</td>
			          <td th:text="${produit.description}">Description</td>
			          <td><a th:href="${'/produits/detail/' + produit.name}"><button class="btn btn-primary">V</button></a>
			          <a th:href="${'/produits/update/' + produit.name}"><button class="btn btn-warning">E</button></a>
			          <form th:action="${'/produits/delete/' + produit.name}" th:method="delete" class="inline-table-form">
			          	<input type="hidden" name="name" value="${produit.name}"/>
			          	<button type="submit" class="btn btn-danger">D</button>
			          </form></td>
			      </tr>
		      </tbody>
		      <tfoot>
		      <tr>
				<th>Name</th>
				<th>Label</th>
				<th>Catégorie</th>
				<th>Description</th>
				<th>Actions</th>
		      </tr>
		      </tfoot>
		    </table>
		  </div>
		  <!-- /.box-body -->
		</div>



    </section>

	<th:block layout:fragment="scripts">
		<script src="/webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="/webjars/datatables.net-bs/2.1.1/js/dataTables.bootstrap.min.js"></script>
		<script>
		$(function () {
		    $('#produits-table').DataTable()
		})
		</script>
	</th:block>
</body>
</html>